.index-module_col__2EQm9 {
    padding-left: 4px;
    padding-right: 4px; }

.index-module_noGuttersRow__31ccp .index-module_col__2EQm9 {
    padding-left: 0;
    padding-right: 0; }
.index-module_c-12__u7UXF{
    width: 100%;
}
.index-module_m-4__30Uoi{display: block; width: 33.3333333%}
.index-module_l-3__MjWvb{display: block; width: 25%;}
.CommonItem_wrapper__1FbHi {
    flex-shrink: 0;
    margin-bottom: 32px;
    overflow: hidden
}

.CommonItem_wrapper__1FbHi+.CommonItem_wrapper__1FbHi {
    margin-left: 16px
}
@media(min-width: 740px)and (max-width:1023px) {
    .CommonItem_wrapper__1FbHi {
        margin-bottom:0;
        width: 35vw
    }
}
@media(min-width: 0)and (max-width:739px) {
    .CommonItem_wrapper__1FbHi {
        margin-bottom:0;
        width: 60vw
    }

    .CommonItem_title__EpYrE a {
        font-size: 1.2rem
    }
}
.Home_courseItem__aIeZ4 {
    overflow: unset;
    position: relative
}
.CommonItem_thumb__ew8Jj {
    background-color: rgba(0,0,0,.1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%
}
.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:after {
    background-color: rgba(0,0,0,.5);
    border-radius: 16px;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all .3s ease 0s;
    visibility: hidden
}
.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover .CommonItem_cta-btn__OK\+oX,.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover:after {
    opacity: 1;
    visibility: visible
}

.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover .CommonItem_cta-btn__OK\+oX {
    top: 50%
}
.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:after {
    background-color: rgba(0,0,0,.5);
    border-radius: 16px;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all .3s ease 0s;
    visibility: hidden
}
.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover .CommonItem_cta-btn__OK\+oX,.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover:after {
    opacity: 1;
    visibility: visible
}

.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover .CommonItem_cta-btn__OK\+oX {
    top: 50%
}
.Button_btn__RW1e2 {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px!important;
    color: var(--primary-color);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    padding: 9px 16px;
    text-align: center;
    transition: .3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

.Button_btn__RW1e2+.Button_btn__RW1e2 {
    margin-left: 8px
}

.Button_btn__RW1e2.Button_primary__86yfm {
}

.Button_btn__RW1e2.Button_btnText__L\+Cpj {
    border-color: transparent;
}

.Button_btn__RW1e2.Button_disabled__1cmvp {
    cursor: default!important;
    opacity: .5!important;
    pointer-events: none!important
}

.Button_btn__RW1e2.Button_sizeS__0Lt75 {
    padding: 7px 12px
}

.Button_btn__RW1e2:hover {
    cursor: pointer;
    opacity: .9
}
.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover .CommonItem_cta-btn__OK\+oX,.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover:after {
    opacity: 1;
    visibility: visible
}

.CommonItem_thumb__ew8Jj.CommonItem_has-link__VLLrX:hover .CommonItem_cta-btn__OK\+oX {
    top: 50%
}

.CommonItem_cta-btn__OK\+oX {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1
}

@media(min-width: 0px)and (max-width:1023px) {
    .CommonItem_cta-btn__OK\+oX {
        display:none
    }
}
.CommonItem_title__EpYrE a,.CommonItem_title__EpYrE span {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #292929;
    display: -webkit-box;
    font-size: 1.2rem;
    line-height: 1.4;
    overflow: hidden
}
.CourseItem_students-count__92kIg {
    color: #666;
    font-size: 1.2rem
}
.CourseItem_students-count__92kIg span {
    margin-left: 8px
}

@media(min-width: 0px)and (max-width:739px) {
    .CourseItem_students-count__92kIg {
        display:none
    }
}
.ScrollList_label__aulkb {
    background-color: #1473e6;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3px 6px;
    text-transform: uppercase;
}
