.NoRecordMessage_wrapper__c7dm- {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: NoRecordMessage_fadeIn__smC-k;
    animation-name: NoRecordMessage_fadeIn__smC-k;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
    margin-top: 48px;
    opacity: 0
}

.NoRecordMessage_wrapper__c7dm- img {
    margin: 0 auto 12px;
    width: 80px
}

.NoRecordMessage_wrapper__c7dm- span {
    align-items: center;
    display: flex;
    justify-content: center
}

@-webkit-keyframes NoRecordMessage_fadeIn__smC-k {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes NoRecordMessage_fadeIn__smC-k {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.Pagination_wrapper__Rvhto {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    margin-top: 20px;
    position: relative
}

@media(min-width: 0px)and (max-width:739px) {
    .Pagination_wrapper__Rvhto {
        margin:32px 0;
        position: relative
    }

    .Pagination_wrapper__Rvhto .Pagination_btn-pre__Pm0Wu {
        left: -10px;
        position: absolute
    }

    .Pagination_wrapper__Rvhto .Pagination_btn-next__TNt\+b {
        position: absolute;
        right: -10px
    }
}

@media(min-width: 0px)and (max-width:1024px) {
    .Pagination_wrapper__Rvhto {
        position:relative
    }

    .Pagination_wrapper__Rvhto .Pagination_btn-pre__Pm0Wu {
        left: -10px;
        position: absolute
    }

    .Pagination_wrapper__Rvhto .Pagination_btn-next__TNt\+b {
        position: absolute;
        right: -10px
    }
}

.Pagination_index__\+v-KW {
    left: 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media(min-width: 740px)and (max-width:1023px) {
    .Pagination_index__\+v-KW {
        font-size:1.3rem
    }
}

@media(min-width: 0px)and (max-width:739px) {
    .Pagination_index__\+v-KW {
        display:none
    }
}

.Pagination_pages__FFgjW {
    align-items: center;
    display: flex;
    padding: 0 10px
}

.Pagination_page__fm3g4 {
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    transition: all .2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media(min-width: 1024px) {
    .Pagination_page__fm3g4 {
        margin-right:4px;
        padding: 6px 12px
    }
}

@media(min-width: 0px)and (max-width:1024px) {
    .Pagination_page__fm3g4 {
        padding:6px;
        width: 30px
    }
}

.Pagination_page__fm3g4 .Pagination_span__Eo8ed {
    margin: 0 auto
}

.Pagination_page__fm3g4:hover {
    border: 1px solid #d0d7de
}

.Pagination_page__fm3g4.Pagination_disabled__1LE7y {
    border: 1px solid #fff;
    color: #d0d7de;
    cursor: default
}

.Pagination_page__fm3g4.Pagination_active__q3h4d {
}

.Pagination_page__fm3g4.Pagination_hidden__Obbio {
    display: none
}

.Pagination_icon__rsM4G {
    font-size: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Pagination_limit__AGD7v {
    align-items: center;
    display: flex;
    margin-right: 16px
}

.Pagination_limit__AGD7v select {
    border-radius: 6px;
    cursor: pointer;
    margin: 0 4px;
    outline: none;
    padding: 4px
}

.GroupField_wrapper__1-jfw {
    margin-bottom: 30px
}

.GroupField_heading__PIaoN {
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1rem;
    margin: 0 0 20px;
    padding: 10px 0
}

.AffiliateSettings_wrapper__-AJVp {
    margin-top: 54px;
    padding-bottom: 48px
}

@media(min-width: 0px)and (max-width:739px) {
    .AffiliateSettings_wrapper__-AJVp {
        margin-top:24px
    }
}

.AffiliateSettings_wrapper__-AJVp button {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.AffiliateSettings_pageWrapper__jz0TV {
    width: 60%
}

@media(min-width: 740px)and (max-width:1023px) {
    .AffiliateSettings_pageWrapper__jz0TV {
        width:60%
    }
}

@media(min-width: 0px)and (max-width:739px) {
    .AffiliateSettings_pageWrapper__jz0TV {
        width:100%
    }
}

.AffiliateSettings_payment-info-status__r\+yXi h2 {
    font-size: 1rem
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE {
    align-items: center;
    background-color: #eee;
    border-radius: 100px;
    color: #595959;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 100%;
    line-height: 1;
    line-height: 2.5rem;
    padding: 0 12px 0 24px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE:before {
    background-color: #595959;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 10px;
    margin-top: -5px;
    position: absolute;
    top: 56%;
    width: 8px
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE.AffiliateSettings_pending__uVl6U {
    background-color: rgba(255,180,0,.12);
    color: #ffb400
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE.AffiliateSettings_pending__uVl6U:before {
    background-color: #ffb400
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE.AffiliateSettings_accepted__mhkil {
    background-color: rgba(86,202,0,.12);
    color: #56ca00
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE.AffiliateSettings_accepted__mhkil:before {
    background-color: #56ca00
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE.AffiliateSettings_declined__EPj7C {
    background-color: rgba(255,76,81,.12);
    color: #ff4c51
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_payment-info-status-detail__-c2Up .AffiliateSettings_status-pill__s6EZE.AffiliateSettings_declined__EPj7C:before {
    background-color: #ff4c51
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_pending-message__sdWWt {
    color: #ffb400;
    font-size: 1rem;
    font-weight: 500
}

.AffiliateSettings_payment-info-status__r\+yXi .AffiliateSettings_declined-reason__exKlr {
    color: #ff4c51;
    font-size: 1rem
}

.AffiliateSettings_not-aff-message__e-56Q {
    font-size: 1rem;
    margin-top: 100px;
    text-align: center
}

.AffiliateSettings_not-aff-message__e-56Q span {
    color: #fb8500;
    cursor: pointer;
    margin: 0 4px;
    text-decoration: underline;
    text-underline-offset: 6px
}

.AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_form-pick-img__ab4jQ {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around
}

@media(min-width: 740px)and (max-width:1023px) {
    .AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_form-pick-img__ab4jQ {
        align-items:center;
        flex-direction: column;
        gap: 0
    }
}

@media(min-width: 0px)and (max-width:739px) {
    .AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_form-pick-img__ab4jQ {
        flex-direction:column;
        gap: 0
    }
}

.AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_explaination-message__kgWZ4 {
    font-size: 1rem;
    font-style: italic
}

.AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_required-field__hsIzS input {
    cursor: pointer
}

.AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_required-field__hsIzS input::-webkit-calendar-picker-indicator {
    cursor: pointer
}

.AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_required-field__hsIzS label:after {
    color: #f33a58;
    content: "*";
    font-size: 1rem
}

.AffiliateSettings_payment-info-update__Rzj0U .AffiliateSettings_required-field__hsIzS>div>span {
    display: none
}

.AffiliateSettings_commission-no-access__PPF66 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 50px
}

.AffiliateSettings_commission-no-access__PPF66 .AffiliateSettings_warning-icon__vmgln {
    width: 200px
}

.AffiliateSettings_commission-no-access__PPF66 .AffiliateSettings_commission-no-access-message__1h2a5 {
    font-size: 1rem
}

.AffiliateSettings_commission-no-access__PPF66 .AffiliateSettings_commission-no-access-message__1h2a5 a {
    color: #fb8500;
    margin: 0 4px;
    text-decoration: underline;
    text-underline-offset: 6px
}

.AffiliateSettings_expected-revenue__40qO4 {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 20px
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-heading__\+KsNF {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-heading__\+KsNF h2 {
    font-size: 1rem
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-heading__\+KsNF span {
    font-size: 1rem;
    font-weight: 600
}

.AffiliateSettings_expected-revenue__40qO4 p {
    font-size: 1rem
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-detail__dNLK8 {
    display: flex;
    justify-content: space-between;
    margin-top: -1vh
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-detail__dNLK8 p {
    color: #6f6e6e;
    font-size: 1rem
}

@media(min-width: 740px)and (max-width:1023px) {
    .AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-detail__dNLK8 p {
        width:40%
    }
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-receive-date__vDH3s {
    align-items: center;
    display: flex;
    gap: 8px
}

.AffiliateSettings_expected-revenue__40qO4 .AffiliateSettings_expected-revenue-receive-date__vDH3s .AffiliateSettings_icon__C0MYZ {
    font-size: 1rem
}

.AffiliateSettings_transaction-history__WRgRZ h2 {
    font-size: 1rem;
    margin: 20px 0 0
}

.AffiliateSettings_transaction-history__WRgRZ ul {
    max-width: 60%;
    padding-left: 0
}

.AffiliateSettings_transaction-history__WRgRZ li {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 12px
}

.AffiliateSettings_action-btns__kjuJA {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px
}

@media(min-width: 0px)and (max-width:739px) {
    .AffiliateSettings_action-btns__kjuJA {
        flex-direction:column-reverse;
        gap: 12px
    }
}

.AffiliateSettings_action-btns__kjuJA .AffiliateSettings_publish-btn__r7Tci {
    border-radius: 20px;
    font-weight: 500;
    padding: 12px 16px
}

@media(min-width: 0px)and (max-width:739px) {
    .AffiliateSettings_action-btns__kjuJA .AffiliateSettings_publish-btn__r7Tci {
        margin-left:0
    }
}

.AffiliateSettings_status__9lRk9 {
    border-radius: 9999px;
    color: #fff;
    padding: 4px 8px
}

.AffiliateSettings_approved__Hr9H3 {
    background-color: rgba(86,202,0,.12);
    color: #56ca00
}

.AffiliateSettings_rejected__Zv5CO {
    background-color: rgba(255,76,81,.12);
    color: #ff4c51
}

.AffiliateSettings_confirmed__Up5nT {
    background-color: rgba(22,177,255,.12);
    color: #16b1ff
}

.AffiliateSettings_pending__uVl6U {
    background-color: rgba(255,180,0,.12);
    color: #ffb400
}

.AffiliateSettings_refunded__cdICA {
    background-color: hsla(0,0%,54%,.12);
    color: #666
}

.AffiliateSettings_commission-detail__L2KQf h2 {
    font-size: 1rem
}

.AffiliateSettings_filter__iwG1H label {
    font-size: 1rem;
    font-weight: 500
}

.AffiliateSettings_filter__iwG1H .AffiliateSettings_filter-date__iQOOY {
    display: flex;
    gap: 20px;
    margin-top: 8px
}

@media(min-width: 0px)and (max-width:739px) {
    .AffiliateSettings_filter__iwG1H .AffiliateSettings_filter-date__iQOOY {
        flex-direction:column;
        gap: 0
    }

    .AffiliateSettings_filter__iwG1H .AffiliateSettings_filter-date__iQOOY div {
        width: 100%
    }
}

.AffiliateSettings_filter__iwG1H .AffiliateSettings_date-picker__wNxJD {
    width: 50%
}

.ImagePreview_wrapper__Zm4jy {
    align-items: center;
    border: 2px dashed #b3b3b3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 7px;
    position: relative
}

@media(min-width: 0px)and (max-width:739px) {
    .ImagePreview_wrapper__Zm4jy {
        width:100%!important
    }
}

.ImagePreview_wrapper__Zm4jy:hover .ImagePreview_overlay__7NBLH {
    opacity: 1;
    visibility: visible
}

.ImagePreview_wrapper__Zm4jy .ImagePreview_overlay__7NBLH {
    align-items: center;
    background-color: rgba(0,0,0,.3);
    bottom: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
    visibility: hidden
}

.ImagePreview_wrapper__Zm4jy .ImagePreview_overlay__7NBLH label,.ImagePreview_wrapper__Zm4jy .ImagePreview_overlay__7NBLH span {
    cursor: pointer;
    font-size: 1rem;
    margin: 5px
}

.ImagePreview_wrapper__Zm4jy img {
    max-height: 100%;
    max-width: 100%
}

.ImagePreview_wrapper__Zm4jy .ImagePreview_deleteBtn__etqkJ {
    align-items: center;
    background-color: #f05023;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 18px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    width: 17px;
    z-index: 1
}

.ImagePreview_preview__bnbR4 {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: .2s;
    width: 100vw;
    z-index: 10000
}

.ImagePreview_preview__bnbR4 img {
    max-height: 80vh;
    max-width: 80vw;
    z-index: 1
}

.ImagePreview_preview__bnbR4 .ImagePreview_closeBtn__VuWFN {
    align-items: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 50px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    z-index: 1
}

.ImagePreview_previewOverlay__fbhUN {
    background-color: rgba(0,0,0,.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.FormImagePicker_wrapper__kO3BI {
    display: flex;
    flex-direction: column;
    margin: 20px 0
}

.FormImagePicker_wrapper__kO3BI .FormImagePicker_heading__vh5r1 {
    font-size: 1rem;
    font-weight: 700
}

.FormImagePicker_selectButton__o13tp {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center
}

.FormImagePicker_selectButton__o13tp:hover {
}

.FormImagePicker_selectButton__o13tp.FormImagePicker_error__w5OD4 {
}

.FormImagePicker_label__eCTIS {
    display: inline-block
}

.FormImagePicker_label__eCTIS:hover {
}

.FormImagePicker_hint__UBC8f {
    font-size: 1rem;
    font-style: italic;
    margin: 4px 0 8px
}

.FormImagePicker_chooseButton__Hvlil {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
    width: 200px
}

.FormImagePicker_chooseButton__Hvlil label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 10px;
    width: 100%
}

.FormImagePicker_imageDrop__f8O7Y {
    display: flex;
    gap: 20px;
    position: relative
}

@media(min-width: 0px)and (max-width:739px) {
    .FormImagePicker_imageDrop__f8O7Y {
        flex-direction:column
    }
}

.FormImagePicker_imageDrop__f8O7Y .FormImagePicker_imgPreview__vh9Lq {
    background-color: #fff;
    position: absolute
}

.FormImagePicker_dropzone__-Sggk {
    align-items: center;
    border: 2px dashed rgba(93,89,98,.22);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 200px;
    padding: 1rem;
    position: relative;
    width: 300px
}

@media(min-width: 0px)and (max-width:739px) {
    .FormImagePicker_dropzone__-Sggk {
        min-height:210px;
        width: 100%
    }
}

.FormImagePicker_dropzone__-Sggk p {
    font-size: 1rem
}

.FormImagePicker_dropzone__-Sggk em {
    font-size: 1rem
}

.FormImagePicker_dropzone__-Sggk .FormImagePicker_uploadImg__gD1ic {
    height: 77px;
    margin-bottom: 16px;
    width: 100px
}

@media(min-width: 0px)and (max-width:739px) {
    .FormImagePicker_dropzone__-Sggk .FormImagePicker_uploadImg__gD1ic {
        min-height:141px;
        width: 160px
    }
}

.SelectWithSearch_wrapper__t5-ol {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px
}

.SelectWithSearch_wrapper__t5-ol .SelectWithSearch_label__DzlPf {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 6px
}

.SelectWithSearch_wrapper__t5-ol .SelectWithSearch_required__ygCKZ:after {
    color: #f33a58;
    content: "*";
    font-size: 1rem
}

.SelectWithSearch_item__JQcnP {
    border-bottom: 1px solid #d0d7de;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.SelectWithSearch_item__JQcnP:last-child {
    border-bottom: none
}

.SelectWithSearch_input-wrapper__IAsID {
    display: flex;
    position: relative
}

.SelectWithSearch_input-wrapper__IAsID input {
    border: 1px solid rgba(58,53,65,.22);
    border-radius: 0 6px 6px 0;
    height: 40px;
    outline: none;
    width: 100%
}

.SelectWithSearch_input-wrapper__IAsID input:focus {
    border-color: #ffb400;
    border-width: 2px
}

.SelectWithSearch_options__LXQ5d {
    align-items: center;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 36px;
    justify-content: space-between;
    outline: none;
    padding: 0 12px;
    width: 100%
}

.SelectWithSearch_options__LXQ5d:focus {
    border-width: 2px
}

.SelectWithSearch_options__LXQ5d .SelectWithSearch_select-icon__Iv65i {
}

.SelectWithSearch_options__LXQ5d.SelectWithSearch_error__UvaVD {
    background-color: #fdebee;
    border: 1px solid #f33a58
}

.SelectWithSearch_input__s5hAm {
    border: none;
    flex: 1 1;
    outline: none;
    padding: 0 8px
}

.SelectWithSearch_selectable-options__T9IFU {
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    left: 0;
    max-width: 600px;
    position: absolute;
    top: 35px;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 1
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_search-input__7f5xV {
    border-bottom: 1px solid #d0d7de;
    padding-left: 24px;
    position: relative
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_search-input__7f5xV .SelectWithSearch_icon-search__rpBDJ {
    font-size: 1rem;
    left: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_search-input__7f5xV input {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 10px 16px;
    width: 100%
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_list__Bvior {
    max-height: 300px;
    overflow-y: auto
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_item__JQcnP {
    align-items: center;
    display: flex;
    font-size: 1rem;
    gap: 8px;
    padding: 10px 10px 10px 16px;
    position: relative
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_item__JQcnP:hover {
    background-color: rgba(234,238,242,.5);
    cursor: pointer
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_item__JQcnP.SelectWithSearch_active__zttT8 .SelectWithSearch_icon-checked__C67ek {
    display: inline-block
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_item__JQcnP .SelectWithSearch_icon-checked__C67ek {
    display: none;
    font-size: 1rem;
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_item__JQcnP .SelectWithSearch_logo__rdc7N {
    width: 60px
}

@media(min-width: 0px)and (max-width:739px) {
    .SelectWithSearch_selectable-options__T9IFU .SelectWithSearch_item__JQcnP .SelectWithSearch_option-name__2lcKy {
        max-width:60%
    }
}

.SelectWithSearch_error-message__v8Pxj {
    color: #f33a58;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 6px
}

.SelectWithSearch_error-message__v8Pxj span {
    margin-left: 2px
}

.Captcha_captcha__MvQjl {
    align-items: center;
    display: flex;
    justify-content: center
}

.ProgressBar_progress__rZl7u {
    background: #e5e5e5;
    border-radius: 20px;
    height: 16px;
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%
}

.ProgressBar_bar__xZO\+B {
    background: #6495ed;
    float: left;
    height: 100%;
    min-width: 0
}

.ProgressBar_percent__74xBP {
    color: #fff;
    font-size: 12px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.ToggleButton_input__StgHk {
    display: none
}

.ToggleButton_button__ngPwB {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 50px;
    cursor: pointer;
    height: 20px;
    position: relative;
    transition: .3s;
    width: 40px
}

.ToggleButton_button__ngPwB .ToggleButton_dot__Xo\+vq {
    background-color: #fff;
    border-radius: 50%;
    height: 14px;
    left: 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .3s;
    width: 14px
}

.ToggleButton_button__ngPwB.ToggleButton_active__24VMf {
    background-color: #18ccba;
}

.ToggleButton_button__ngPwB.ToggleButton_active__24VMf .ToggleButton_dot__Xo\+vq {
    left: calc(100% - 16px)
}

.Setting_setting-wrapper__FdLtc {
    display: flex;
    gap: 80px;
    margin: 0 120px;
    min-height: 100vh
}

@media(min-width: 740px)and (max-width:1023px) {
    .Setting_setting-wrapper__FdLtc {
        gap:30px;
        margin: 0 16px
    }
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_setting-wrapper__FdLtc {
        margin:0 12px
    }
}

.Setting_pageWrapper__PM\+M5 {
    width: 100%;
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_pageWrapper__PM\+M5 {
        width:100%
    }
}

.Setting_wrapper__TX8z0 {
    margin-top: 54px;
    padding-bottom: 48px
}

.Setting_wrapper__TX8z0 button {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Setting_heading__pfRml {
    font-size: 1rem;
    font-weight: 600
}

.Setting_url__Q8DAK {
    font-weight: 600
}

.Setting_connectionsList__TBDYU {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.Setting_noConnectionMessage__HrouN {
    font-size: 1rem
}

.Setting_connectionLabel__6xw-s {
    font-size: 1rem;
    font-weight: 600
}

.Setting_connectionContent__hTjDR {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-top: 8px
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_connectionContent__hTjDR {
        align-items:flex-start;
        flex-direction: column
    }
}

.Setting_connectionContent__hTjDR>div {
    align-items: center;
    display: flex;
    gap: 8px
}

.Setting_providerName__YiHct {
    font-size: 1rem
}

.Setting_connectionPhoneInput__CjO7D {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    max-width: 710px
}

.Setting_phoneInput__IS08J {
    align-items: flex-start;
    display: flex;
    gap: 8px
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_phoneInput__IS08J {
        flex-direction:column
    }
}

.Setting_phoneInput__IS08J>div {
    flex: 1 1
}

.Setting_phoneInput__IS08J .Setting_buttonsGroup__PgmZq {
    display: flex;
    gap: 8px
}

.Setting_phoneInput__IS08J button {
    border-radius: 999px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    padding: 0 8px;
    white-space: nowrap;
    width: 100px
}

.Setting_phoneInput__IS08J .Setting_cancelBtn__Ilz6Y {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    font-size: 1rem;
    padding: 0 16px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s
}

.Setting_phoneInput__IS08J .Setting_cancelBtn__Ilz6Y:hover {
    border-color: rgba(0,0,0,.54);
    color: rgba(0,0,0,.68)
}

.Setting_phoneInput__IS08J button[disabled] {
    background-color: #ccc;
    pointer-events: none
}

.Setting_reCapChaInput__Xde5L {
    align-items: stretch;
    display: flex;
    gap: 8px;
    height: 40px
}

.Setting_reCapChaInput__Xde5L input {
    border: 1px solid #ccc;
    border-radius: 999px;
    flex: 1 1;
    font-size: 1rem;
    outline: none;
    padding: 0 12px
}

.Setting_reCapChaInput__Xde5L button {
    background-color: #fff;
    border-radius: 999px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 8px;
    width: 100px
}

.Setting_reCapChaInput__Xde5L button[disabled] {
    opacity: .5;
    pointer-events: none
}

.Setting_connectButton__Mvun4,.Setting_disconnectButton__97qSD {
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 8px;
    height: 37px;
    line-height: 37px;
    padding: 0 16px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s
}

.Setting_connectionError__MUeMN {
    color: red;
    font-size: 1rem;
    margin: 0
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_connectionError__MUeMN {
        margin:8px 0
    }
}

.Setting_sidebar-wrapper__OR4mJ {
    width: 24%
}

@media(min-width: 740px)and (max-width:1023px) {
    .Setting_sidebar-wrapper__OR4mJ {
        width:30%
    }
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_sidebar-wrapper__OR4mJ {
        display:none
    }
}

.Setting_sidebar-list__7Yj-I {
    min-width: 270px;
    padding-left: 0
}

@media(min-width: 740px)and (max-width:1023px) {
    .Setting_sidebar-list__7Yj-I {
        min-width:unset
    }
}

.Setting_sidebar-list__7Yj-I .Setting_menu__3VNY1 {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    padding: 14px 30px 14px 12px
}

.Setting_sidebar-list__7Yj-I .Setting_menu__3VNY1:hover {
    background-color: #eee
}

.Setting_sidebar-list__7Yj-I li {
    border-radius: 8px
}

.Setting_sidebar-list__7Yj-I li .Setting_active__bcAyq {
    background-color: #eee;
    border-radius: 8px
}

.Setting_sidebar-list__7Yj-I li a {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    padding: 14px 12px
}

.Setting_sidebar-list__7Yj-I li a:hover {
    background-color: #eee
}

.Setting_sidebar-list__7Yj-I li .Setting_icon__cYZ5C {
    color: #fb8500;
    font-size: 1rem;
    width: 20px
}

.Setting_sidebar-list__7Yj-I li span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem
}

.Setting_sidebar-list__7Yj-I .Setting_sub-menu-icon__sNm39 {
    color: #fb8500;
    font-size: 1rem;
    width: 24px
}

@media(min-width: 740px)and (max-width:1023px) {
    .Setting_sidebar-list__7Yj-I .Setting_sub-menu-icon__sNm39 {
        min-width:30px
    }
}

.Setting_notiDesc__CqoDF {
    font-size: 1rem;
    margin: 0
}

.Setting_notiList__oGbzY {
    margin: 12px 0 0;
    padding: 0
}

.Setting_notiListItem__-T2VN {
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px
}

.Setting_notiListItem__-T2VN:hover {
    background-color: #eeeeeeb6
}

.Setting_notiListItem__-T2VN span {
    font-size: 1rem
}

@media(min-width: 0px)and (max-width:739px) {
    .Setting_wrapper__TX8z0 {
        margin-top:24px;
        padding: 0 16px
    }
}

.InputField_fieldWrapper__AMxca {
    align-items: flex-start;
    display: flex
}

.InputField_fieldContent__iWttQ {
    flex: 1 1;
    margin-right: 10px!important
}

.InputField_fieldContentLabel__wJO4a {
    font-size: 1rem;
    margin: 0
}

.InputField_fieldContentEdit__KYEiF {
    margin-top: 16px;
    max-width: 500px
}

.InputField_invalid__8Cni7 {
    position: relative
}

.InputField_fieldContentInput__lO21W {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: rgba(0,0,0,.84)!important;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    padding-bottom: 8px;
    width: 100%
}

.InputField_fieldContentInput__lO21W::-webkit-input-placeholder {
    color: rgba(0,0,0,.15)
}

.InputField_fieldContentInput__lO21W:-ms-input-placeholder {
    color: rgba(0,0,0,.15)
}

.InputField_fieldContentInput__lO21W::placeholder {
    color: rgba(0,0,0,.15)
}

.InputField_invalid__8Cni7 .InputField_fieldContentInput__lO21W {
    border-bottom: 1px solid #f33a58
}

.InputField_invalid__8Cni7 .InputField_errorIcon__IZtSJ {
    -webkit-animation: InputField_shake__MszYD .35s linear 1;
    animation: InputField_shake__MszYD .35s linear 1;
    color: #f33a58;
    position: absolute;
    right: 6px;
    top: 2px
}

.InputField_invalid__8Cni7 .InputField_fieldMessage__jRFWY {
    color: #f33a58;
    font-size: 1rem;
    left: 0;
    position: absolute;
    top: 35px
}

.InputField_description__unJBo {
    color: #757575;
    font-size: 1rem;
    line-height: 2rem
}

.InputField_editMode__8-iv5,.InputField_fieldBtn__OG6ZB {
    display: flex
}

@-webkit-keyframes InputField_shake__MszYD {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    25% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px)
    }

    50% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }

    75% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes InputField_shake__MszYD {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    25% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px)
    }

    50% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }

    75% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@media(min-width: 0)and (max-width:739px) {
    .InputField_fieldBtn__OG6ZB {
        margin-top:20px
    }

    .InputField_fieldContentInput__lO21W {
        margin-bottom: 2px
    }
}

.FieldWrapper_wrapper__QcEfS {
    align-items: flex-start;
    display: flex;
    padding: 16px 0 20px
}

@media(min-width: 0)and (max-width:739px) {
    .FieldWrapper_wrapper__QcEfS {
        display:block;
        padding: 25px 0 20px
    }
}

.Button_fieldButton__B93oZ {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    font-size: 1rem;
    height: 37px;
    line-height: 37px;
    padding: 0 16px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s
}

.Button_fieldButtonDefault__7a6UD:hover {
    border-color: rgba(0,0,0,.54);
    color: rgba(0,0,0,.68)
}

.Button_fieldButtonSave__VCw3g {
    margin-right: 8px
}

.PhotoField_fieldContentLabel__rBtfX {
    font-size: 1rem;
    margin: 0
}

.PhotoField_fieldContent__QiVzm {
    flex: 1 1
}

.PhotoField_fieldContentEdit__8iE7p {
    display: flex;
    margin-top: 16px
}

.PhotoField_contentBody__fl5E5 {
    font-size: 1rem;
    line-height: 2rem;
    max-width: 500px
}

.PhotoField_contentImage__zbcdo {
    margin-left: 90px;
    position: relative
}

.PhotoField_avatar__Qdo\+k {
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    margin-left: 20px;
    overflow: hidden;
    width: 80px
}

.PhotoField_chooseAva__w-IYZ {
    align-items: center;
    background: rgba(0,0,0,.54);
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    left: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
    width: 80px;
    z-index: 6
}

.PhotoField_chooseAva__w-IYZ:hover .PhotoField_chooseImg__-hTB8 {
    opacity: 1
}

.PhotoField_chooseImg__-hTB8 {
    color: #fff;
    font-size: 1rem;
    opacity: .5;
    width: 75%
}

.PhotoField_pickAva__h-Ysn {
    bottom: 28px;
    opacity: 0;
    position: absolute;
    width: 0
}

.PhotoField_editMode__sJwfG,.PhotoField_fieldBtn__TSg2A {
    display: flex
}

@media(min-width: 0)and (max-width:739px) {
    .PhotoField_fieldContentEdit__8iE7p {
        align-items:center
    }

    .PhotoField_fieldBtn__TSg2A {
        margin-top: 20px
    }

    .PhotoField_contentBody__fl5E5 {
        flex: 1 1
    }

    .PhotoField_contentImage__zbcdo {
        margin-left: 38px
    }
}

@media(min-width: 739px)and (max-width:1024px) {
    .PhotoField_contentBody__fl5E5 {
        flex:1 1
    }

    .PhotoField_contentImage__zbcdo {
        margin-left: 38px;
        margin-right: 68px
    }
}

.PhoneInput_wrapper__4JS1r .PhoneInput_error-message__XVzQo {
    color: red;
    font-size: 1rem;
    margin: 8px 0
}

.PhoneInput_input-wrapper__3uonC {
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 999px;
    display: flex;
    height: 40px;
    position: relative;
    width: 100%
}

.PhoneInput_input-wrapper__3uonC input {
    background-color: transparent;
    border: none;
    flex: 1 1;
    font-size: 1rem;
    outline: none;
    padding: 0 8px
}

.PhoneInput_dial-code-display__x3AJm {
    align-items: center;
    border-right: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 98px
}

.PhoneInput_dial-code-display__x3AJm .PhoneInput_icon__BE8tK {
    margin-left: 8px
}

.PhoneInput_dial-codes-list__AkE0v {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    left: 0;
    position: absolute;
    top: calc(100% + 4px);
    width: 100%
}

.PhoneInput_dial-codes-list__AkE0v ul {
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 0
}

.PhoneInput_dial-codes-list__AkE0v li {
    cursor: pointer;
    font-size: 1rem;
    padding: 12px 16px 12px 32px;
    position: relative
}

.PhoneInput_dial-codes-list__AkE0v li:hover {
    background-color: #eee
}

.PhoneInput_dial-codes-list__AkE0v .PhoneInput_active-icon__LzIlk {
    left: 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.PhoneInput_dial-code-search-input__lm-4q {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex
}

.PhoneInput_dial-code-search-input__lm-4q input {
    border: none;
    flex: 1 1;
    font-size: 1rem;
    height: 40px;
    outline: none;
    padding: 0
}

.PhoneInput_dial-code-search-input__lm-4q .PhoneInput_icon__BE8tK {
    align-items: center;
    color: #888;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 32px
}
